server:
  servlet:
    context-path: /graduate
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: root
    url: jdbc:mysql://127.0.0.1/graduate?serverTimezone=GMT%2B8&characterEncoding=utf-8&useSSL=false
  mvc:
    view:
      prefix: /
      suffix: .html
mybatis:
  mapper-locations:
  - classpath:mapper/*Mapper.xml
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql