<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.graduate.dao.extend.ArticleVMMapper">

<!-- 定义结果集==ArticleVM -->
	<resultMap type="edu.graduate.bean.extend.ArticleVM" id="articleVM">
		<!-- 基础属性映射和数据库之间的映射 -->
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="picture" property="picture" />
		<result column="description" property="description" />
		<!-- 一对多中的关联属性 -->
		<collection property="comment" column="id" select="selectCommentVMByArticleId" ofType="edu.graduate.bean.Comment"></collection>
	</resultMap>
	
<!-- 定义结果集==Comment -->
	<resultMap type="edu.graduate.bean.Comment" id="commentVM">
		<result property="articleId" column="article_id" />
	</resultMap>
	
	<!-- 查询所有推文信息及其评价 -->
	<select id="selectAllArticleVMs" resultMap="articleVM">
		select * from graduate_article
	</select>
	
	<!-- 根据Id查询推文信息及其评价 -->
	<select id="findArticleVMById" parameterType="long" resultMap="articleVM">
		select * from graduate_article where id = #{id}
	</select>
	
	<!-- 根据关键字查询推文信息及其评价 -->
	<select id="findArticleVMByKeyword" parameterType="String" resultMap="articleVM">
	select * from graduate_article where name like concat('%',#{keyword},'%')
	</select>
	
	<!-- 根据Id查找推文下的所有评价 -->
	<select id="selectCommentVMByArticleId" parameterType="long" resultMap="commentVM">
		select * from graduate_comment where article_id = #{id}
	</select>
	
	<!-- 根据Id删除推文及其评价的信息 -->
	<delete id="deleteArticleVMById" parameterType="long" >
		delete from graduate_article where id = #{id}
	</delete>
	
</mapper>
















