<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.graduate.dao.extend.PregnantDescriptionVMMapper">

<!-- 定义结果集==FruitVM  nutrition  Nutrition-->
	<resultMap type="edu.graduate.bean.extend.PregnantDescriptionVM" id="PregnantDescriptionVM">
		<!-- 基础属性映射和数据库之间的映射 -->
		<id column="id" property="id" />
		<result column="time" property="time" />
		<result column="effect" property="effect" />
		<result column="description" property="description" />
		<collection 
			property="nutritionVMs" 
			column="id" 
			javaType="ArrayList"
			select="edu.graduate.dao.extend.NutritionVMMapper.selectNutritionByPregnantDescriptionId" >
		</collection>
	</resultMap>
	
<!-- 查询所有 -->	
	<select id = "selectAllPregnantDescriptionVM" resultMap="PregnantDescriptionVM">
		select * from graduate_pregnantdescription
	</select>
<!-- 通过孕月的名字查询水果的信息 -->
	<select id = "selectByDName" resultMap="PregnantDescriptionVM">
		select * from graduate_pregnantdescription where time like '%${descriptionName}%'
	</select>
	
<!-- 根据Id查询 -->
	<select id = "selectDescriptionVMById" resultMap="PregnantDescriptionVM">
		select * from graduate_pregnantdescription where id = #{id}
	</select>
	
<!-- 根据营养的Id查询孕月的信息 -->

	<select id="selectDescriptionVMByNutritionId" parameterType="long" resultMap="PregnantDescriptionVM">
		select * from graduate_pregnantdescription where id in (
			select pregnantDescription_id
			from graduate_npd
			where nutrition_id = #{id}	
		)
	</select>
<!-- 根据营养的名字查询孕月的信息 -->
	<select id="selectDescriptionVMByNutritionName" parameterType="String" resultMap="PregnantDescriptionVM">
		select * from graduate_pregnantdescription where id in(
			select pregnantDescription_id 
			from graduate_npd where nutrition_id in(
				select id from graduate_nutrition where name like '%${nutritionName}%'
			)
		)
	</select>
	
	
</mapper>